<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <meta name="description" content="Descubre la totalidad de tu ser. Visita nuestras redes sociales para más videos y talleres.">
    <title>Consciencia Azulel</title>
  </head>
  <body>
    <noscript>
      <strong>Lo sentimos pero <%= htmlWebpackPlugin.options.title %> no trabaja bien sin JavaScript activado. Por favor activelo para continuar.</strong>
    </noscript>
    <div id="app">
      <h1 style="opacity: 0;">Consciencia azulel</h1>
      <h2 style="opacity: 0;">El cazador de la mente subconsciente</h2>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
