<template>
  <div class="home">
    <section class="bg-primary azulel text-white">
      <b-container fluid="md" class="py-md-3 position-relative">
        <b-row align-v="center">
          <b-col md class="ml-lg-3 px-0">
            <p class="d-none d-md-block main-text">
              Un viaje liberador para descubrir
              <small class="d-block smaller">
                tu mundo interno y el camino a la felicidad.
              </small>
            </p>
            <b-img
              src="images/reading-picture.jpg"
              class="flip-Y"
              fluid
              alt="Imagen con persona leyendo"
            ></b-img>
            <b-img
              src="images/Libro.jpg"
              class="portada-libro animate__animated"
              alt="Portada del libro: El Cazador de la Mente Subconsciente"
            ></b-img>
          </b-col>
          <b-col md  offset="5" offset-md="0" class="py-1 c-xs-offset-4 animate__animated animate__fadeInRight animate__delay-1s animate__slow">
            <p class="mx-md-3 fs-lg-16 font-italic text-right text-md-center">
              Con la compra del libro recibirás el taller introductorio de
              "Sanando tu autoimagen" totalmente
              <span class="ff-black text-uppercase">gratis</span>
            </p>
            <form id="personalInfo-1" class="d-none d-md-block mx-md-3" @submit.prevent>
              <header>
                Llena tus datos aquí:
              </header>
              <div
                :class="['form-group azulel-input-group my-2 text-left',
                         {'is-valid': this.validateForm.fullName == 'valid'},
                         {'is-invalid': this.validateForm.fullName == 'invalid'}]"
              >
                <input
                  id="fullName-1"
                  v-model.trim="form.fullName"
                  type="text"
                  class="form-control"
                  minlength="2"
                  required
                >
                <label
                  for="fullName-1"
                  :class="{'active': form.fullName && form.fullName.length}"
                >
                  Nombre Completo:
                </label>
              </div>
              <div
                :class="['form-group azulel-input-group my-3 text-left',
                         {'is-valid': this.validateForm.phone == 'valid'},
                         {'is-invalid': this.validateForm.phone == 'invalid'}]"
              >
                <input
                  id="phone-1"
                  v-model.trim="form.phone"
                  type="tel"
                  class="form-control"
                  minlength="8"
                  required
                >
                <label
                  for="phone-1"
                  :class="{'active': form.phone && form.phone.length}"
                >
                  Teléfono:
                </label>
              </div>
              <div
                :class="['form-group azulel-input-group my-2 text-left',
                         {'is-valid': this.validateForm.email == 'valid'},
                         {'is-invalid': this.validateForm.email == 'invalid'}]"
              >
                <input
                  id="email-1"
                  v-model.trim="form.email"
                  type="email"
                  class="form-control"
                  required
                >
                <label
                  for="email-1"
                  :class="{'active': form.email && form.email.length}"
                >
                  Correo Electrónico:
                </label>
              </div>
            </form>
          </b-col>
        </b-row>
      </b-container>
    </section>
    <b-container tag="p" class="d-md-none mt-4 text-primary azulel main-text">
      Un viaje liberador para descubrir
      <small class="d-block smaller">
        tu mundo interno y el camino a la felicidad.
      </small>
    </b-container>
    <b-container>
      <b-row align-v="center" class="my-3 animate__animated animate__fadeInUp animate__delay-3s animate__slow">
        <b-col md class="text-primary azulel">
          <b-row align-h="center" align-v="center">
            <b-col cols="6" sm="3" md="5" xl="4" order-sm="2" class="pb-2 pb-sm-0">
              <b-img
                src="images/Elia-Azulel.jpg"
                fluid
                rounded="circle"
                alt="Autora: Elia Azulel"
              ></b-img>
            </b-col>
            <b-col cols="12" sm order-sm="1" class="px-md-0">
              <b-row align-v="center" class="justify-content-center justify-content-sm-end">
                <b-col cols="12" order-md="2" class="font-italic text-center text-sm-right">
                  Mi libro será su guía integral con ejercicios prácticos y el
                  curso gratis le enseñará a acelerar el logro de sus metas
                  personales.
                </b-col>
                <b-col cols="auto" order-md="1">
                  <a
                    href="https://www.facebook.com/consciencia.azulel/"
                    target="_blank"
                    rel="noopener noreferrer"
                    title="Consciencia Azulel | Descubre la totalidad de tu ser | Facebook: @consciencia.azulel"
                  >
                    <b-img
                      src="images/redes-sociales/logo-facebook.png"
                      fluid
                      alt="Autora: Elia Azulel | Facebook: @consciencia.azulel"
                    ></b-img>
                  </a>
                  <a
                    href="https://instagram.com/consciencia_azulel?igshid=odnu9linxbk6"
                    target="_blank"
                    rel="noopener noreferrer"
                    title="Consciencia Azulel | Descubre la totalidad de tu ser | Instagram: @consciencia_azulel"
                    class="mx-1"
                  >
                    <b-img
                      src="images/redes-sociales/logo-instagram.png"
                      fluid
                      alt="Autora: Elia Azulel | Instagram: @consciencia_azulel"
                    ></b-img>
                  </a>
                  <a
                    href="https://twitter.com/Azulel11"
                    target="_blank"
                    rel="noopener noreferrer"
                    title="Consciencia Azulel | Descubre la totalidad de tu ser | Twitter: @Azulel11"
                  >
                    <b-img
                      src="images/redes-sociales/logo-twitter.png"
                      fluid
                      alt="Autora: Elia Azulel | Twitter: @Azulel11"
                    ></b-img>
                  </a>
                  <a
                    href="https://www.linkedin.com/in/elia-di-michele-98984870/"
                    target="_blank"
                    rel="noopener noreferrer"
                    title="Consciencia Azulel | Descubre la totalidad de tu ser | LinkedIn: Elia Di Michele"
                    class="mx-1"
                  >
                    <b-img
                      src="images/redes-sociales/logo-linkedin.png"
                      fluid
                      alt="Autora: Elia Azulel | LinkedIn: Elia Di Michele"
                    ></b-img>
                  </a>
                  <a
                    href="https://www.youtube.com/channel/UCMDrsaaMAayzqelQK1H-xFA"
                    target="_blank"
                    rel="noopener noreferrer"
                    title="Consciencia Azulel | Descubre la totalidad de tu ser | YouTube: Azulel Elia"
                  >
                    <b-img
                      src="images/redes-sociales/logo-youtube.png"
                      fluid
                      alt="Autora: Elia Azulel | YouTube: Azulel Elia"
                    ></b-img>
                  </a>
                </b-col>
                <b-col cols="auto" order-md="3" tag="small" class="font-italic font-weight-bold">
                  Elia Azulel - Autora
                </b-col>
              </b-row>
            </b-col>
          </b-row>
        </b-col>
        <b-col md class="mt-3 mt-md-0">
          <span class="font-weight-bold">
            ¿Aún no tienes mi libro?
          </span>
          <a
            href="https://www.amazon.com/-/es/Elia-Azulel/dp/1643346547"
            target="_blank"
            rel="noopener noreferrer"
            title="Amazon.com: El Cazador de la Mente Subconsciente (Spanish Edition) (9781643346540): Azulel, Elia: Books"
            class="d-block d-sm-inline"
          >
            Consíguelo aquí
          </a>
          <b-form id="personalInfo-2" @submit.prevent>
            <div
              :class="['d-md-none form-group azulel-input-group my-2 text-left',
                        {'is-valid': this.validateForm.fullName == 'valid'},
                        {'is-invalid': this.validateForm.fullName == 'invalid'}]"
            >
              <input
                id="fullName-2"
                v-model.trim="form.fullName"
                type="text"
                class="form-control"
                minlength="2"
                required
              >
              <label
                for="fullName-2"
                :class="{'active': form.fullName && form.fullName.length}"
              >
                Nombre Completo:
              </label>
            </div>
            <div
              :class="['d-md-none form-group azulel-input-group my-3 text-left',
                        {'is-valid': this.validateForm.phone == 'valid'},
                        {'is-invalid': this.validateForm.phone == 'invalid'}]"
            >
              <input
                id="phone-2"
                v-model.trim="form.phone"
                type="tel"
                class="form-control"
                minlength="8"
                required
              >
              <label
                for="phone-2"
                :class="{'active': form.phone && form.phone.length}"
              >
                Teléfono:
              </label>
            </div>
            <div
              :class="['d-md-none form-group azulel-input-group my-2 text-left',
                        {'is-valid': this.validateForm.email == 'valid'},
                        {'is-invalid': this.validateForm.email == 'invalid'}]"
            >
              <input
                id="email-2"
                v-model.trim="form.email"
                type="email"
                class="form-control"
                required
              >
              <label
                for="email-2"
                :class="{'active': form.email && form.email.length}"
              >
                Correo Electrónico:
              </label>
            </div>
            <b-button
              pill
              type="submit"
              :form="formName"
              variant="primary"
              class="fs-4_i my-2"
              @click="basicInformationForm"
            >
              Obtenga su curso aquí
            </b-button>
            <small class="form-text ff-narrow text-muted">
              Sus datos son almacenados confidencialmente y no se comparten
              con terceros.
            </small>
          </b-form>
        </b-col>
      </b-row>
    </b-container>
    <Footer class="my-3 animate__animated animate__fadeInUp animate__delay-5s"/>

    <!-- Modal -->
    <b-modal
      v-model="modalGetCourse"
      centered
      scrollable
      title="Información de tu compra"
      ok-title="Enviar"
      ok-variant="success"
      cancel-title="Cerrar"
      @show="resetModalGetCourse"
      @shown="$refs.inputBill.focus()"
      @hidden="resetModalGetCourse"
      @ok="handleOkGetCourse"
    >
      <b-row align-v="center">
        <b-col cols="12" class="col-12 px-sm-5">
          <div
            :class="['form-group azulel-input-group my-2 text-left',
                      {'is-valid': this.validateForm.bill == 'valid'},
                      {'is-invalid': this.validateForm.bill == 'invalid'}]"
          >
            <input
              id="input-bill"
              ref="inputBill"
              v-model.trim="form.bill"
              type="text"
              class="form-control"
              minlength="3"
              maxlength="30"
              required
            >
            <!-- <input
              id="input-bill"
              ref="inputBill"
              v-model.trim="form.bill"
              type="text"
              class="form-control"
              minlength="17"
              maxlength="22"
              pattern="[0-9]{3,4}-[0-9]{6,8}-[0-9]{6,8}"
              required
            > -->
            <label
              for="input-bill"
              :class="{'active': form.bill && form.bill.length}"
            >
              N° del recibo de compra:
            </label>
          </div>
        </b-col>
        <b-col cols="12" class="col-12 px-sm-5">
          <div
            :class="['form-group azulel-input-group my-2 text-left',
                      {'is-valid': this.validateForm.purchasePlatform == 'valid'},
                      {'is-invalid': this.validateForm.purchasePlatform == 'invalid'}]"
          >
            <b-form-select
              id="select-purchasePlatform"
              v-model="form.purchasePlatform"
              class="mb-3"
              required
            >
              <b-form-select-option
                value=""
                class="d-none"
              >
                Seleccione una opción
              </b-form-select-option>
              <b-form-select-option
                v-for="(platform, iPlatform) in purchasePlatforms"
                :key="`platform-${iPlatform}`"
                :value="platform.value"
              >
                {{ platform.name }}
              </b-form-select-option>
            </b-form-select>
            <label
              for="select-purchasePlatform"
              class="active"
            >
              Plataforma de compra:
            </label>
          </div>
        </b-col>
      </b-row>
    </b-modal>

    <!-- Alerta -->
    <b-alert
      dismissible
      fade
      :show="formAlert.dismissCountDown"
      :variant="formAlert.variant"
      @dismissed="formAlert.dismissCountDown=0"
      @dismiss-count-down="countDownChanged"
    >
      {{ formAlert.content }}
    </b-alert>
  </div>
</template>

<script>
// @ is an alias to /src
import Footer from '@/components/Footer.vue'
import axios from 'axios'
import animation from 'animate.css'
import Vue from 'vue'
Vue.use(animation)

export default {
  name: 'Home',
  components: {
    Footer
  },
  data () {
    return {
      form: {
        fullName: '',
        phone: '',
        email: '',
        bill: '',
        purchasePlatform: ''
      },
      formAlert: {
        dismissSecs: 8, // Tiempo para auto-cerrar alerta
        dismissCountDown: 0,
        variant: '',
        content: ''
      },
      modalGetCourse: false,
      purchasePlatforms: [
        {
          name: 'Amazon',
          value: 'amazon'
        },
        {
          name: 'Google books',
          value: 'googleBooks'
        },
        {
          name: 'Barnes & Noble online',
          value: 'barnesNobleOnline'
        },
        {
          name: 'Barnes & Noble',
          value: 'barnesNoble'
        },
        {
          name: 'iTunes',
          value: 'iTunes'
        }
      ],
      validateForm: {
        fullName: '',
        phone: '',
        email: '',
        bill: '',
        purchasePlatform: ''
      },
      windowInnerWidth: 0
    }
  },
  created () {
    window.addEventListener('resize', this.handleResizeWindow)
    this.handleResizeWindow()
  },
  destroyed () {
    window.removeEventListener('resize', this.handleResize)
  },
  methods: {
    submitFormPerson () {
      // axios.post('http://localhost:5000/api/person',
      axios.post('https://conscienciaazulel.com/api/person',
        {
          nombre: this.form.fullName,
          email: this.form.email,
          telefono: this.form.phone
        }, { withCredentials: true })
    },
    submitFormCode () {
      const This = this
      // axios.post('http://localhost:5000/api/recibo',
      axios.post('https://conscienciaazulel.com/api/recibo',
        {
          codigo: this.form.bill,
          plataforma: this.form.purchasePlatform
        }, { withCredentials: true })
        .then((res) => {
          This.formAlert.content = 'Bienvenido al taller Sanando tu autoimagen'
          This.formAlert.variant = 'success'
          This.showAlert()
          setTimeout(() => this.$router.push('/taller'), 500)
        })
        .catch((err) => {
          if (err) {
            This.formAlert.content = 'Ha ocurrido un error, intenta de nuevo'
            This.formAlert.variant = 'danger'
            This.showAlert()
          }
        })
    },
    basicInformationForm () {
      const isEmail = this.validarEmail(this.form.email)

      this.validateForm = {
        fullName: this.form.fullName && this.form.fullName.length >= 2
          ? 'valid' : 'invalid',
        phone: this.form.phone && this.form.phone.length >= 8
          ? 'valid' : 'invalid',
        email: this.form.email && isEmail
          ? 'valid' : 'invalid'
      }

      const validandoCampos = []
      if (!this.form.fullName) {
        validandoCampos.push('Nombre Completo')
      } else if (this.form.fullName.length < 2) {
        this.formAlert.content = 'Nombre completo debe tener al menos 2 caracteres'
        this.formAlert.variant = 'warning'
        return this.showAlert()
      }

      if (!this.form.phone) {
        validandoCampos.push('Teléfono')
      } else if (this.form.phone.length < 8) {
        this.formAlert.content = 'Debe introducir un número telefónico válido'
        this.formAlert.variant = 'warning'
        return this.showAlert()
      }

      if (!this.form.email) {
        validandoCampos.push('Correo Electrónico')
      } else if (!isEmail) {
        this.formAlert.content = 'Debe introducir un correo electrónico válido'
        this.formAlert.variant = 'warning'
        return this.showAlert()
      }

      if (validandoCampos.length) {
        const camposVacios = validandoCampos.join(', ')

        this.formAlert.variant = 'warning'
        this.formAlert.content =
          validandoCampos.length > 1 ? camposVacios + ' son campos requeridos'
            : validandoCampos.length === 1 ? camposVacios + ' es un campo requerido'
              : ''

        if (this.formAlert.dismissCountDown === 0) return this.showAlert()
      } else {
        this.formAlert.dismissCountDown = 0
        this.modalGetCourse = true
        this.submitFormPerson()
      }
    },
    countDownChanged (dismissCountDown) { // Update countdown to close modal
      this.formAlert.dismissCountDown = dismissCountDown
    },
    handleOkGetCourse (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.submitPersonalCourseInformation()
    },
    handleResizeWindow () {
      this.windowInnerWidth = window.innerWidth
    },
    resetModalGetCourse () {
      this.form.bill = ''
      this.form.purchasePlatform = ''
    },
    showAlert () {
      this.formAlert.dismissCountDown = this.formAlert.dismissSecs
    },
    submitPersonalCourseInformation () {
      const isBillValid = this.validarNroRecibo(this.form.bill, this.form.purchasePlatform)

      this.validateForm.bill = this.form.bill && isBillValid && this.form.bill.length >= 3 && this.form.bill.length <= 30
        ? 'valid' : 'invalid'
      this.validateForm.purchasePlatform = this.form.purchasePlatform
        ? 'valid' : 'invalid'

      const validandoCampos = []
      if (!this.form.bill) {
        validandoCampos.push('N° del recibo de compra')
      } else if (this.form.bill.length < 3) {
        this.formAlert.content = 'Debe ingresar todos los números del recibo de compra'
        this.formAlert.variant = 'warning'
        return this.showAlert()
      } else if (this.form.bill.length > 30 || !isBillValid) {
        this.formAlert.content = 'Asegurate de escribir correctamente los números del recibo de compra'
        this.formAlert.variant = 'warning'
        return this.showAlert()
      }
      if (!this.form.purchasePlatform) {
        validandoCampos.push('Plataforma de compra')
      }

      if (validandoCampos.length) {
        const camposVacios = validandoCampos.join(', ')

        this.formAlert.variant = 'warning'
        this.formAlert.content =
          validandoCampos.length > 1 ? camposVacios + ' son campos requeridos'
            : validandoCampos.length === 1 ? camposVacios + ' es un campo requerido'
              : ''

        if (this.formAlert.dismissCountDown === 0) return this.showAlert()
        else return 0
      } else {
        this.modalGetCourse = false
        this.submitFormCode()
      }
    },
    validarEmail (email) {
      /* eslint-disable-next-line */
      const emailRegexp = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i
      if (emailRegexp.test(email)) return true
      else return false
    },
    validarNroRecibo (id, shop) {
      const regExpShops = {
        amazon: '^[0-9]{3,4}-[0-9]{6,8}-[0-9]{6,8}$',
        googleBooks: '^[A-Z]{3,4}.[0-9]{3,5}-[0-9]{3,5}-[0-9]{3,5}-[0-9]{3,6}$',
        barnesNobleOnline: '^[0-9]{3,4}-[0-9]{6,8}-[0-9]{6,8}$',
        barnesNoble: '^[0-9]{3,6}$',
        iTunes: '^[0-9]{3,4}-[0-9]{6,8}-[0-9]{6,8}$'
      }
      const expreg = new RegExp(regExpShops[shop])
      if (expreg) {
        if (shop === 'amazon' || shop === 'googleBooks' ||
         shop === 'barnesNobleOnline' || shop === 'barnesNoble' ||
          shop === 'iTunes') {
          return expreg.test(id)
        }
        return false
      }
      this.formAlert.content = 'El recibo de compra no cumple con los requisitos, lo evaluaremos manualmente y te avisamos'
      this.formAlert.variant = 'danger'
      this.showAlert()
      return false
    }
  },
  computed: {
    formName () {
      if (this.windowInnerWidth >= 768) return 'personalInfo-1'
      else return 'personalInfo-2'
    }
  }
}
</script>
<style lang="scss">
// Estilos redefinidos
[class*="btn-primary"] { /* Botones primary */
  background-color: #124296 !important;
  border-color: #124296 !important;
  padding: 0.375rem 1.40rem !important;

  @media screen and (min-width: 768px) {
    padding: 0.375rem 2.5rem !important;
  }
}
.bg-primary.azulel { /* Backgrounds primary */
  background-color: #124296 !important;
}
.text-primary.azulel { /* Texts primary */
  color: #124296 !important;
}
.alert {
  border-left-width: 4px !important;
  position: fixed !important;
  right: 10px;
  top: 40px;
  user-select: none;
  z-index: 1041;
}
.alert-warning {
  background-color: #ffe7bc !important;
  border-color: #ffe7bc !important;
  border-left-color: #FFA503 !important;
}
.c-xs-offset-4 {
  @media (min-width: 400px) and (max-width: 767px) {
    margin-left: 33.333333% !important;
  }
}

// Estilos de los inputs
.azulel-input-group {
  position: relative;

  input.form-control,
  select.custom-select {
    border-color: #2C3E50;
    border-radius: 0;
    height: 50px;
    padding-top: 20px;
    transition: border-color 0.15s ease-in-out, border-width 0.15s ease, padding-left 0.25s ease;

    &:focus {
      border-color: #3b5d99;
      box-shadow: none;
      border-width: 2px;
      padding-left: 11px;
    }
  }

  label {
    color: #2c3e50;
    left: 6px;
    margin-bottom: 0;
    position: absolute;
    top: 13px;
    transform: scale(0.9);
    transition: top 0.25s ease;
    user-select: none;
  }

  input.form-control:focus + label,
  select.custom-select:focus + label,
  label.active {
    top: 0;
  }

  label, input, select {
    cursor: pointer;
  }

  &.is-invalid {
    label {color: #dc3545;}
    input, select {border-color: #dc3545;}
  }
  &.is-valid {
    label {color: #28a745;}
    input, select {border-color: #28a745;}
  }
}

// Nuevos estilos
.fs-4_i {font-size: 1.5rem !important;}
.fs-lg-16 {
  @media (min-width: 992px) {font-size: 1.6rem;}
}
.smaller {font-size: 75% !important;}
.flip-Y {transform: rotateY(180deg);}

.main-text {
  font-family: 'Arial Black';
  line-height: 1.3;
  text-align: center;

  @media screen and (min-width: 400px) {font-size: 1.25rem;}
  @media screen and (min-width: 500px) {font-size: 1.5rem;}
  @media screen and (min-width: 534px) {font-size: 1.75rem;}
  @media screen and (min-width: 768px) {font-size: 1.2rem;}
  @media screen and (min-width: 992px) {font-size: 1.55rem;}
  @media screen and (min-width: 1200px) {font-size: 1.9rem;}
}
// estilos de animate.css
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
  }
}

.portada-libro {
  bottom: 0;
  box-shadow: 4px 4px 10px rgb(15, 15, 15);
  height: auto;
  left: 0;
  position: absolute;
  transform: scale(0.9) translate(-2px, 58%);
  width: 150px;
  z-index: 4;
  animation-name: fadeInLeft;

  @media screen and (min-width: 576px) {
    left: 20px;
    transform: rotate(-8deg) translateY(80px);
  }
  @media screen and (min-width: 768px) {
    left: 0;
    transform: rotate(-8deg) translate(-4px, 24px);
  }
  @media screen and (min-width: 1200px) {width: 230px;}
}
</style>
