<template>
  <div class="taller">
    <b-row class="mx-0" style="height: calc(100vh);">
      <b-col lg class="bg-primary azulel text-white flex-align-center">
        <b-container fluid="md" class="py-3 ff-black header-left-side">
          <p>
            ¡Felicidades por haber
            <span class="d-md-block">
              adquirido mi libro...
            </span>
          </p>
          <div class="contenedor-fotos mb-lg-4">
            <b-img
              src="images/reading-picture.jpg"
              class="flip-Y"
              alt="Imagen con persona leyendo"
            ></b-img>
            <b-img
              src="images/Libro.jpg"
              class="portada-libro"
              alt="Portada del libro: El Cazador de la Mente Subconsciente"
            ></b-img>
            <div class="logo-blanco">
              <b-img
                src="images/logo-blanco.png"
                alt="Logo: Consciencia Azulel"
              ></b-img>
              <div class="text-container">
                <span class="d-block ff-GreatVibes">
                  Consciencia Azulel
                </span>
                <small class="ff-narrow badge-light-azulel">
                  Descubre la totalidad de tu ser
                </small>
              </div>
            </div>
          </div>
          <p class="mb-0">
            ...y ahora comienza tu viaje
            <span class="d-md-block">
              liberador para descubrir
            </span>
            <small class="d-block smaller mx-n4">
              tu mundo interno y el camino a la felicidad!
            </small>
          </p>
        </b-container>
      </b-col>
      <b-col lg class="flex-align-center">
        <b-container fluid="md" class="py-3 ff-narrow header-right-side">
          <p class="mb-lg-1">
            Disfruta del vídeo del Taller Introductorio
            <span class="d-block">
              "Sanando tu Autoimagen" a continuación:
            </span>
          </p>
          <div v-if="link.length">
            <iframe class="video-frame" :src='link' frameborder="0"  allowfullscreen></iframe>
          </div>
          <p class="mb-md-1">
            El vídeo se compone de lo siguiente:
          </p>
          <ol class="d-inline-block text-left mb-md-1">
            <li>Aprende cómo funciona tu mente</li>
            <li>Realiza el Pre-Test</li>
            <li>Realiza la Práctica</li>
            <li>Aplica Post-Test</li>
          </ol>
          <p class="smaller mb-0 mx-md-n3 mx-xl-5">
            Si tienes preguntas, comentarios o quieres concretar una cita privada, puedes enviarme un correo electrónico al cazadordelamentesubconsciente@gmail.com o enviarme un mensaje al privado a mis redes sociales de Instagram o Facebook.
          </p>
        </b-container>
      </b-col>
    </b-row>
    <!--
      ok-only -> Esconde el botón de X
      hide-header-close -> Esconde el botón de Cerrar
      no-close-on-esc, no-close-on-backdrop -> Evita cerrar modal con esc y con click en backdrop
    -->
    <b-modal
      v-model="modalGetCourse"
      centered
      scrollable
      ok-only
      no-close-on-esc
      no-close-on-backdrop
      hide-header-close
      title="Información de tu compra"
      ok-title="Enviar"
      ok-variant="success"
      @show="resetModalGetCourse"
      @shown="$refs.inputBill.focus()"
      @hidden="resetModalGetCourse"
      @ok="handleOkGetCourse"
    >
      <b-row align-v="center">
        <b-col cols="12" class="col-12 px-sm-5">
          <div
            :class="['form-group azulel-input-group my-2 text-left',
                      {'is-valid': this.validateForm.bill == 'valid'},
                      {'is-invalid': this.validateForm.bill == 'invalid'}]"
          >
            <input
              id="input-bill"
              ref="inputBill"
              v-model.trim="form.bill"
              type="text"
              class="form-control"
              minlength="4"
              maxlength="30"
              required
            >
            <!-- <input
              id="input-bill"
              ref="inputBill"
              v-model.trim="form.bill"
              type="text"
              class="form-control"
              minlength="17"
              maxlength="22"
              pattern="[0-9]{3,4}-[0-9]{6,8}-[0-9]{6,8}"
              required
            > -->
            <label
              for="input-bill"
              :class="{'active': form.bill && form.bill.length}"
            >
              N° del recibo de compra:
            </label>
          </div>
          <div
            :class="['form-group azulel-input-group my-2 text-left',
                      {'is-valid': this.validateForm.email == 'valid'},
                      {'is-invalid': this.validateForm.email == 'invalid'}]"
          >
            <input
              id="input-email"
              ref="inputEmail"
              v-model.trim="form.email"
              type="text"
              class="form-control"
              minlength="4"
              required
            >
            <label
              for="input-email"
              :class="{'active': form.email && form.email.length}"
            >
              Dirección de correo electrónico:
            </label>
          </div>
        </b-col>
        <b-col cols="12" class="col-12 px-sm-5">
          <div
            :class="['form-group azulel-input-group my-2 text-left',
                      {'is-valid': this.validateForm.purchasePlatform == 'valid'},
                      {'is-invalid': this.validateForm.purchasePlatform == 'invalid'}]"
          >
            <b-form-select
              id="select-purchasePlatform"
              v-model="form.purchasePlatform"
              class="mb-3"
              required
            >
              <b-form-select-option
                value=""
                class="d-none"
              >
                Seleccione una opción
              </b-form-select-option>
              <b-form-select-option
                v-for="(platform, iPlatform) in purchasePlatforms"
                :key="`platform-${iPlatform}`"
                :value="platform.value"
              >
                {{ platform.name }}
              </b-form-select-option>
            </b-form-select>
            <label
              for="select-purchasePlatform"
              class="active"
            >
              Plataforma de compra:
            </label>
          </div>
        </b-col>
      </b-row>
    </b-modal>

    <!-- Alerta -->
    <b-alert
      dismissible
      fade
      :show="formAlert.dismissCountDown"
      :variant="formAlert.variant"
      @dismissed="formAlert.dismissCountDown = 0"
      @dismiss-count-down="countDownChanged"
    >
      {{ formAlert.content }}
    </b-alert>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Video',
  data () {
    return {
      link: '',
      session: '',
      form: {
        email: '',
        bill: '',
        purchasePlatform: ''
      },
      formAlert: {
        dismissSecs: 8, // Tiempo para auto-cerrar alerta
        dismissCountDown: 0,
        variant: '',
        content: ''
      },
      modalGetCourse: false,
      purchasePlatforms: [
        {
          name: 'Amazon',
          value: 'amazon'
        },
        {
          name: 'Google books',
          value: 'googleBooks'
        },
        {
          name: 'Barnes & Noble online',
          value: 'barnesNobleOnline'
        },
        {
          name: 'Barnes & Noble',
          value: 'barnesNoble'
        },
        {
          name: 'iTunes',
          value: 'iTunes'
        }
      ],
      validateForm: {
        bill: '',
        email: '',
        purchasePlatform: ''
      },
      windowInnerWidth: 0
    }
  },
  mounted () {
    this.getLink()
  },
  methods: {
    getLink () {
      const This = this
      axios.get('https://conscienciaazulel.com/api/link', { withCredentials: true })
      // axios.get('http://localhost:5000/api/link', { withCredentials: true })
        .then((res) => {
          if (res.status === 200 || res.status === 304) {
            This.link = res.data
          }
        }).then(() => {
          This.getSession()
        })
        .catch(() => {
          This.modalGetCourse = true
          This.formAlert.content = 'Registra tus datos antes de acceder al video'
          This.formAlert.variant = 'danger'
          This.showAlert()
        })
    },
    getSession () {
      const This = this
      axios.get('https://conscienciaazulel.com/api/session', { withCredentials: true })
      // axios.get('http://localhost:5000/api/session', { withCredentials: true })
        .then((res) => {
          if (res.status === 200 || res.status === 304) {
            This.session = res.data.recibo
          }
        }).then(() => {
          this.createVisita()
        })
        .catch(() => {
          This.formAlert.content = 'Ha ocurrido un error'
          This.formAlert.variant = 'danger'
          This.showAlert()
        })
    },
    createVisita () {
      const This = this
      const plataform = this.session.plataforma
      const bill = this.session.codigo
      axios.get(`https://conscienciaazulel.com/api/taller/${bill}/${plataform}`, { withCredentials: true })
      // axios.get(`http://localhost:5000/api/taller/${bill}/${plataform}`, { withCredentials: true })
        .catch(() => {
          This.formAlert.content = 'Ha ocurrido un error'
          This.formAlert.variant = 'danger'
          This.showAlert()
        })
    },
    countDownChanged (dismissCountDown) { // Update countdown to close modal
      this.formAlert.dismissCountDown = dismissCountDown
    },
    showAlert () {
      this.formAlert.dismissCountDown = this.formAlert.dismissSecs
    },
    submitFormCode () {
      const This = this
      axios.post('https://conscienciaazulel.com/api/validate',
      // axios.post('http://localhost:5000/api/validate',
        {
          email: this.form.email,
          codigo: this.form.bill,
          plataforma: this.form.purchasePlatform
        }, { withCredentials: true })
        .then(() => {
          return This.getLink()
        })
        .catch(() => {
          This.formAlert.content = 'Registra tus datos antes de acceder al video'
          This.formAlert.variant = 'danger'
          This.showAlert()
          setTimeout(() => this.$router.push('/'), 1500)
        })
    },
    resetModalGetCourse () {
      this.form.bill = ''
      this.form.purchasePlatform = ''
      this.form.email = ''
      this.validateForm = {
        bill: '',
        email: '',
        purchasePlatform: ''
      }
    },
    handleOkGetCourse (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.submitPersonalCourseInformation()
    },
    async submitPersonalCourseInformation () {
      const isEmail = this.validarEmail(this.form.email)
      const isBillValid = this.validarNroRecibo(this.form.bill, this.form.purchasePlatform)

      this.validateForm = {
        bill: this.form.bill && this.form.bill.length >= 3 && isBillValid && this.form.bill.length <= 30
          ? 'valid' : 'invalid',
        email: this.form.email && isEmail
          ? 'valid' : 'invalid',
        purchasePlatform: this.form.purchasePlatform
          ? 'valid' : 'invalid'
      }

      const validandoCampos = []
      if (!this.form.bill) {
        validandoCampos.push('N° del recibo de compra')
      } else if (this.form.bill.length < 3) {
        this.formAlert.content = 'Debe ingresar todos los números del recibo de compra'
        this.formAlert.variant = 'warning'
        return this.showAlert()
      } else if (this.form.bill.length > 30 || !isBillValid) {
        this.formAlert.content = 'Asegurate de escribir correctamente los números del recibo de compra'
        this.formAlert.variant = 'warning'
        return this.showAlert()
      }
      if (!this.form.email) {
        validandoCampos.push('Correo Electrónico')
      } else if (!isEmail) {
        this.formAlert.content = 'Debe introducir un correo electrónico válido'
        this.formAlert.variant = 'warning'
        return this.showAlert()
      }
      if (!this.form.purchasePlatform) {
        validandoCampos.push('Plataforma de compra')
      }

      if (validandoCampos.length) {
        const camposVacios = validandoCampos.join(', ')

        this.formAlert.variant = 'warning'
        this.formAlert.content =
          validandoCampos.length > 1 ? camposVacios + ' son campos requeridos'
            : validandoCampos.length === 1 ? camposVacios + ' es un campo requerido'
              : ''

        if (this.formAlert.dismissCountDown === 0) return this.showAlert()
        else return 0
      } else {
        this.modalGetCourse = false
        this.submitFormCode()
      }
    },
    validarEmail (email) {
      /* eslint-disable-next-line */
      const emailRegexp = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i
      if (emailRegexp.test(email)) return true
      else return false
    },
    validarNroRecibo (id, shop) {
      const regExpShops = {
        amazon: '^[0-9]{3,4}-[0-9]{6,8}-[0-9]{6,8}$',
        googleBooks: '^[A-Z]{3,4}.[0-9]{3,5}-[0-9]{3,5}-[0-9]{3,5}-[0-9]{3,6}$',
        barnesNobleOnline: '^[0-9]{3,4}-[0-9]{6,8}-[0-9]{6,8}$',
        barnesNoble: '^[0-9]{3,6}$',
        iTunes: '^[0-9]{3,4}-[0-9]{6,8}-[0-9]{6,8}$'
      }
      const expreg = new RegExp(regExpShops[shop])
      if (expreg) {
        if (shop === 'amazon' || shop === 'googleBooks' ||
         shop === 'barnesNobleOnline' || shop === 'barnesNoble' ||
          shop === 'iTunes') {
          return expreg.test(id)
        }
        return false
      }
      this.formAlert.content = 'El recibo de compra no cumple con los requisitos, lo evaluaremos manualmente y te avisamos'
      this.formAlert.variant = 'danger'
      this.showAlert()
      return false
    }
  }
}
</script>

<style lang="scss">
.taller {
  .header {
    &-left-side {
      font-size: 1.3rem;
      @media screen and (min-width: 576px) {
        font-size: 2rem;
        & p:first-child {
          font-size: 2.6rem;
        }
      }
      @media screen and (min-width: 992px) {
        font-size: 1.6rem;
        & p:first-child {
          font-size: 2rem;
        }
      }
      @media screen and (min-width: 1200px) {
        font-size: 1.8rem;
        & p:first-child {
          font-size: 2.5rem;
        }
      }
      .flip-Y {
        height: auto;
        max-width: 660px;
        width: 100%;
        @media screen and (min-width: 768px) and (max-width: 991px) {max-width: 610px;}
      }
    }
    &-right-side {
      @media screen and (min-width: 576px) {font-size: 1.4rem;}

      p.smaller {
        line-height: 1.5;
        @media screen and (min-width: 768px) {
          font-size: 60% !important;
        }
        @media screen and (min-width: 1858px) {
          padding: 0 4rem;
        }
      }
    }
  }
  .video-frame {
    height: auto;
    max-width: 560px;
    width: 100%;
    @media screen and (min-width: 576px) {height: 315px;}
    @media screen and (min-width: 1500px) {
      height: 415px;
      max-width: 660px;
    }
  }
  .flex-align-center {
    align-items: center;
    display: flex;
  }
  .contenedor-fotos {
    margin: 0 auto;
    margin-bottom: 1rem;
    max-width: 660px;
    position: relative;

    @media screen and (min-width: 768px) and (max-width: 991px) {max-width: 610px;}
  }
  .portada-libro {
    transform: scale(0.9) translate(-20px, 15%);
    width: 100px;

    @media screen and (min-width: 576px) {
      left: 0;
      transform: rotate(-8deg) translate(-4px, 20px);
      width: 150px;
    }
    @media screen and (min-width: 768px) {width: 220px;}
    @media screen and (min-width: 992px) {width: 150px;}
    @media screen and (min-width: 1200px) {
      transform: rotate(-8deg) translate(0px, 20px);
      width: 220px;
    }
    @media screen and (min-width: 1700px) {width: 250px;}
  }
  .logo-blanco {
    bottom: 4px;
    display: flex;
    flex-flow: row nowrap;
    height: 52px;
    position: absolute;
    right: 6px;

    @media screen and (min-width: 576px) {
      bottom: 16px;
      height: 70px;
      right: 26px;
    }
    @media screen and (min-width: 992px) {
      bottom: 4px;
      height: 70px;
      right: 18px;
    }
    @media screen and (min-width: 1200px) {
      bottom: 16px;
      height: 70px;
      right: 26px;
    }

    img {
      height: 100%;
      visibility: hidden;
      width: auto;

      @media screen and (min-width: 360px) {
        visibility: visible;
      }
    }

    .text-container {
      display: flex;
      flex-direction: column;
      margin-left: .25rem;
    }

    .badge-light-azulel {
      background: #ffffff;
      color: #2c3e50;
      font-size: 0.6rem;
      font-weight: 700;
      line-height: 1;
      padding: .3rem .1rem;
      text-transform: uppercase;
    }
  }
}
</style>
