<template>
  <b-row align-h="center" align-v="center" tag="section" class="mx-0 my-2">
    <b-col cols="auto" class="px-0">
      <b-img
        src="images/logo.png"
        class="logo-footer"
        alt="Logo Consciencia Azulel | Descubre la totalidad de tu ser | Elia Azulel"
      ></b-img>
    </b-col>
    <b-col cols="auto" class="mt-1 px-2">
      <span class="ff-GreatVibes mr-1 d-block d-sm-inline">Consciencia Azulel</span>
      <span class="d-block d-sm-inline">
        |
        <small class="font-weight-bold">
          DESCUBRE LA TOTALIDAD DE TU SER
        </small>
        |
      </span>
      <span class="ff-GreatVibes ml-1 d-block d-sm-inline">Elia Azulel</span>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: 'Footer'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.logo-footer {
  height: auto;
  width: 25px;
}
.highlight-text {
  background-color: #2c3e50;
  color: #ffffff;
  text-transform: uppercase;
}
</style>
