<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
@font-face {
  font-family: "GreatVibes";
  src: local("GreatVibes"),
   url(./fonts/GreatVibes-Regular.ttf) format("truetype");
}
#app {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.ff-black {font-family: 'Arial Black';}
.ff-narrow {font-family: 'Arial Narrow';}
.ff-GreatVibes {font-family: "GreatVibes";}
</style>
